---
layout: default
title: 我的Blog
keyword: 计算机语言,新闻,学习,网站
description: 学习了解最新事物
comment: false
paginate_path: "/page:num"
---
<div class="page-header">
    <h1>{{ page.title }}<small>最新文章</small></h1>
</div>
　　<div class="list-group">
    　　　　{% for post in paginator.posts %}
                <a href="{{ site.baseurl }}{{ post.url }}" class="list-group-item">
                    {{ post.title }}
                </a>
    　　　　{% endfor %}
    　</div>

{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页</a></li>
    {% else %}
    <li  class="previous disabled"><a href="#">上一页</a></li>
    {% endif %}

    {% if paginator.next_page %}
    <li class="next"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a></li>
    {% else %}
    <li class="next disabled"><a href="#">下一页</a></li>
    {% endif %}
</ul>
{% endif %}