<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description}}">
    <meta name="keywords" content="{{ page.keyword }}">
    <meta name="baidu-site-verification" content="72e5b8a8204b115b66436c1bcabde1c8" />
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet/less" href="{{ site.baseurl }}/less/index.less" />
    <!-- Optional theme -->
    <link href="https://cdn.bootcss.com/prettify/r298/prettify.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/index.html">Blog</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li {% if page.url == "/index.html" %} class="active"{% endif %} {% if page.url == "/" %} class="active"{% endif %}><a href="{{ site.baseurl }}/index.html">首页</a></li>
                <li {% if page.url == "/news.html" %} class="active"{% endif %}><a href="{{ site.baseurl }}/news.html">新闻</a></li>
                <li class='dropdown{% if page.url != "/index.html" and page.url != "/" and page.url != "/news.html" %} active{% endif %}'>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">技术 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li {% if page.category == "c" %} class="active"{% endif %} {% if page.url == "/c.html" %} class="active"{% endif %}><a href="{{ site.baseurl }}/c.html">C</a></li>
                        <li {% if page.category == "java" %} class="active"{% endif %} {% if page.url == "/java.html" %} class="active"{% endif %}><a href="{{ site.baseurl }}/java.html">Java</a></li>
                        <li {% if page.category == "shell" %} class="active"{% endif %} {% if page.url == "/shell.html" %} class="active"{% endif %}><a href="{{ site.baseurl }}/shell.html">Linux Shell</a></li>
                        <li role="separator" class="divider"></li>
                        <li {% if page.category == "css" %} class="active"{% endif %} {% if page.url == "/css.html" %} class="active"{% endif %}><a href="{{ site.baseurl }}/css.html">Css</a></li>
                        <li {% if page.category == "less" %} class="active"{% endif %} {% if page.url == "/less.html" %} class="active"{% endif %}><a href="{{ site.baseurl }}/less.html">Less</a></li>
                        <li {% if page.category == "JavaScript" %} class="active"{% endif %} {% if page.url == "/JavaScript.html" %} class="active"{% endif %}><a href="{{ site.baseurl }}/JavaScript.html">JavaScript</a></li>
                        <li role="separator" class="divider"></li>
                        <li {% if page.category == "html5" %} class="active"{% endif %} {% if page.url == "/html5.html" %} class="active"{% endif %}><a href="{{ site.baseurl }}/html5.html">Html5</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="span3 typeahead" style="margin: 0 auto;" data-provide="typeahead" data-items="4">
                </div>
                <button type="button" class="btn btn-default" id="search">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li {% if page.url == "/log.html" %} class="active"{% endif %}><a href="{{ site.baseurl }}/log.html">日志</a></li>
                <li {% if page.url == "/feed.xml" %} class="active"{% endif %}><a href="{{ site.baseurl }}/feed.xml" target="_blank">订阅</a></li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>-->
            </ul>
        </div>
    </div>
</nav>
    <div class="container" style="margin-top: 60px;">
        {{ content }}
        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-3-typeahead/3.1.1/bootstrap3-typeahead.min.js"></script>
<script src="https://cdn.bootcss.com/prettify/r298/prettify.js"></script>
<script src="https://cdn.bootcss.com/less.js/2.6.0/less.js"> </script>
<script src="{{ site.baseurl }}/js/bda.js"></script>
<script type="application/javascript">
    window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
</body>
</html>